*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
  }
  body {
    width: 100%;
    height: 100vh;
    padding: 10px;
    background: #e3edf1;
  }
  .wrapper {
    width: 100%;
    max-width: 550px;
    margin: 80px auto;
    padding: 28px;
    border: 1px solid rgb(129, 129, 129);
    border-radius: 10px;
    background: #fff;
    
  }
  .wrapper h2 {
    font-size: 25px;
    padding-bottom: 20px;
    display:flex;
    justify-content: center;
  }
  .wrapper table {
    display:flex;
    justify-content: center;
  }
  .wrapper table th {
    padding: 0px 20px 0px 20px;
    background: #1e75e744;
  }
  .wrapper table td {
    padding: 0px 20px 0px 20px;
    text-align: center;
  }